.navHeader {
    width: 100vw;
    height: 100px;
    background-color: #f8f8f8;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    z-index: 10000;
}

.logo {
    height: 90%;
    aspect-ratio: 3.6;
    background: url(https://iili.io/dq8SBKF.png);
    background-size: cover;
}

.nav {
    display: flex;
    gap: 100px;
}

.nav a {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
